.avatar-show-img {
    width: 150px;
}

.job-title-icon {
    display : inline-block;
    width : 30px;
    height : 30px;
    border : 2px solid #B65EFF;
    border-radius : 4px;
    text-align :  center;
    vertical-align: sup;
    color : white;
    background-color : #8651E8;
   
}

.well.profile-block {
    color :#fff;
    h3 {
        margin-top : 0;
    }
}    

.well.profile-desc {
    background-color : #6EBAFF;
    border-color : #7B7CFF;
}

.well.profile-contact {
    background-color : #51DBE8;
    border-color : #59FFE0;
}