.avatar-show-img {
    width: 150px;
}

.well.profile-block {
    color :#fff;
    h3 {
        margin-top : 0;
    }
}    

.well.profile-desc {
    background-color : #6EBAFF;
    border-color : #7B7CFF;
}

.well.profile-contact {
    background-color : #51DBE8;
    border-color : #59FFE0;
}